.page{
  width: 100%;
  height: 100vh;
  background-image: url("../home.png");
  display: flex;
  justify-content: space-between;

  .ancients{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 40%;
    padding: 2rem;
    height: 100%;
    &__card{
      width: 20rem;
      height: 26rem;
    }

  }

  .difficulty{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    h2{
      font-size: 3rem;
      color: white;
    }
    &__item{
      font-size: 2rem;
      border: .2rem solid purple;
      box-sizing: border-box;
      color: purple;
      cursor: pointer;
      padding: .5rem;
      text-align: center;
      &.active{
        background-color: red;
      }
    }
  }

  .deck{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    min-width: 30%;
    .shuffle-button{
      font-size: 2rem;
      background-color: red;
      border: .2rem solid purple;
      color: purple;
      cursor: pointer;
      padding: .5rem;
    }

    &__state{
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-height: 30%;
      }

      &-text{
        font-size: 2rem;
        color: purple;
      }
    }

    &__dot{
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 30px;
      justify-content: center;
      width: 30px;
      font-size: 1.5rem;
      color: white;

      &-container{
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;

        .blueCards{
          background-color: blue;
        }
        .brownCards{
          background-color: brown;
        }
        .greenCards{
          background-color: green;
        }
      }
    }

    &__card{
      &-back{
        width: 13rem;
        height: 19rem;
      }
      &-front{
        width: 13rem;
        height: 19rem;
      }
    }

  }

}


